body{
    background-color: white;
    margin-top: 10px;
    
}
header{
    color:black;
 font-size: 20px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
    
}

h1{
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}
p{
    color: greenyellow;
    font-size: 25px;
    
}